/*This doesn't seem to work yet.....*/


/*When printing, disable shadows */

@media print {
  main > section {
    border-radius: 0pt;
    box-shadow: none;
  }
  .button {
    border: 0pt;
  }
  .wrapper, #socialbackg {
    box-shadow: none;
  }
}
